
.productbanner img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.producthomesearch{
    margin-top:20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}
.producthomesearch input{
    width: 40%;
    height: 35px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    background-color: #e09191;

}
.producthomesearch button{
    height: 35px;
    width: 80px;
    border-radius: none;
    border: none;
    background-color: #e09191;
    font-size: 16px;
    cursor: pointer;
}
.filtercategory {
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    background-color: grey;
    margin-left: 10vh;
}